@media (min-width: 481px) and (max-width: 1023px) {
    .menuFlex {
        flex-flow: column wrap;
    }
    nav {
        text-align: center;
    }
    img {
        width: 200px;
        height: 200px;
    }
    .cafeteriasFlex {
        flex-flow: row wrap;
    }
    
    .cafeFlex {
        flex-flow: row wrap;
    }
    .tutorialesFlex {
        flex-flow: row wrap;
    }
    h1 {
        font-size: 65px;
    }
    .imagenHeader {
        height: 120px;
        width: 120px;
    
    }
}

@media (max-width: 480px) {
.tutorialesFlex {
    flex-flow: column nowrap;
}
.cafeteriasFlex {
    flex-flow: column nowrap;
}
.menuFlex {
    flex-flow: column nowrap;
}
nav {
    text-align: center;
}
img {
    width: 175px;
    height: 175px;
}
#galeria {
    text-align: center;
}

h1 {
    font-size: 45px;
}
.imagenHeader {
    height: 100px;
    width: 100px;

}
}