/*Variables*/
$beige: beige;

/*MIXINS*/

@mixin tamañoMediaQ ($ancho, $alto) {
    height: $alto;
    width: $ancho;
}
img {
    @include tamañoMediaQ(500px,500px)
}

/*MAP*/

$colores: (
  beige: #f5f5dc,
  crema: #faebd7,
  beige-oscuro: #ffe4c4,
  marron: #deb887,
  blanco: #fff8dc,
)
